@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage
@*<IEnumerable<Bamm.Dnn.Dnn.Bamm.HelloWorld.Models.Questions>>*@

@using System.Text.RegularExpressions
@using DotNetNuke.Web.Mvc.Helpers

@using DotNetNuke.Data
@using DotNetNuke.Web.Client.ClientResourceManagement;
@using DotNetNuke.Framework.JavaScriptLibraries;
@using Bamm.Dnn.Dnn.Bamm.HelloWorld.Components;
@using Bamm.Dnn.Dnn.Bamm.HelloWorld.Models;
@using Bamm.Dnn.Dnn.Bamm.HelloWorld.Controllers;

@using System.Data

@{ 
    var id = 1;
    var controller = new Bamm.Dnn.Dnn.Bamm.HelloWorld.Controllers.QuestionController();
    var firsQuestion = controller.GetQuestionById(id);
    Answers[] firstAnswers = controller.GetAnswerByQuestion(id);
}

@*<script>
    //function getAnswers(id) {
    //    $.ajax({
    //        type: "POST",
    //        url: "QuestionController/GetQuestionById",
    //        data: { id: id },
    //        success: function (response) {
    //            var firsQuestion = response.firsQuestion;
    //            var firstAnswers = response.firstAnswers;

    //            $("#button1").text(firstAnswers[0].Answer);
    //            $("#button2").text(firstAnswers[1].Answer);
    //            $("#button3").text(firstAnswers[2].Answer);
    //            $("#button4").text(firstAnswers[3].Answer);
    //        }

    //    })
    }
</script>*@
<div>
    <p id="question">
        @(firsQuestion.Question)
    </p>
    <button id="previus">Előző</button>
    <form method="post" asp-action="ChangeVariable">
        <button id="valaszA" type="submit">@(firstAnswers[0].Answer)</button>
        <button id="valaszB" type="submit">@(firstAnswers[1].Answer)</button>
        <button id="valaszC" type="submit">@(firstAnswers[2].Answer)</button>
        <button id="valaszD" type="submit">@(firstAnswers[3].Answer)</button>
    </form>
    @*<form action="@Url.Action("NextId", "Question")" method="post">*@
        <button id="next" type="submit">Következő</button>
        <p>Current Value: @id</p>
    @*</form>*@
</div>
<script>
    //var nextButton = document.getElementById('next');
    //var backButton = document.getElementById('previus');

    //nextButton.addEventListener('click', nextID);

    //function nextID() {
    //    id++;
    //    console.log(id);
    //}
    //window.addEventListener('unload', function () {
    //    nextButton.removeEventListener('click', nextID);
    //});
</script>